<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>湖北明磊传动轴有限公司</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../css/style.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media querie -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body style="padding-top: 30px;">

  <!-- navigation bar -->
  <div id="nav" class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ml-navbar-1">
          <span class="sr-only">Toggle Navgation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img id="logo-img" src="../imgsrc/logo2.png">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="ml-navbar">
        <ul id="menu" class="nav navbar-nav">
          <li><a href="#">了解明传</a></li>
          <li><a href="#">新闻中心</a></li>
          <li><a href="#">产品中心</a></li>
          <li><a href="#">行业应用</a></li>
          <li><a href="#">技术中心</a></li>
          <li><a href="#">人才招聘</a></li>
          <li><a href="#">样本下载</a></li>
          <li><a href="#">联系我们</a></li>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <label class="sr-only" for="search">产品搜索</label>
              <input type="text" class="form-control" id="search" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">搜产品</button>
          </form>
        </ul>
      </div>
    </div>
    <!-- <object height="auto" width="auto"> -->
    <!--   <param name="quality" value="high"> -->
    <!--   <param name="wmode" value="transparent"> -->
    <!--   <param name="quality" value="high"> -->
    <!--   <embed height="392" quality="high" src="./imgsrc/transformers.swf" type="application/x-shockwave-flash" width="1440" wmode="transparent"> -->
    <!-- </object> -->
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-2">
        <div class="row">
          <div class="col-md-12">
            <div class="page-header">
              <h4>产品中心</h4>
            </div>
            <div class="panel-group" id="dir">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#dir" href="#collapseOne">
                      联轴器
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                  <div class="list-group">
                    <a class="list-group-item" href="#">SWC型万向联轴器</a>
                    <a class="list-group-item" href="#">WS、WSD型小型万向联轴器</a>
                    <a class="list-group-item" href="#">WSP小型十字万向联轴器</a>
                    <a class="list-group-item" href="#">球笼式万向联轴器</a>
                    <a class="list-group-item" href="#">安全联轴器</a>
                    <a class="list-group-item" href="#">膜片联轴器</a>
                    <a class="list-group-item" href="#">蛇形弹簧式联轴器</a>
                    <a class="list-group-item" href="#">鼓形齿式联轴器</a>
                    <a class="list-group-item" href="#">梅花联轴器</a>
                    <a class="list-group-item" href="#">星型联轴器</a>
                    <a class="list-group-item" href="#">弹性柱销联轴器</a>
                    <a class="list-group-item" href="#">弹性套柱销式联轴器</a>
                    <a class="list-group-item" href="#">滚子链型联轴器</a>
                    <a class="list-group-item" href="#">球面滚子联轴器</a>
                    <a class="list-group-item" href="#">滑块联轴器</a>
                    <a class="list-group-item" href="#">球铰式万向联轴器</a>
                    <a class="list-group-item" href="#">TGL尼龙齿式联轴器</a>
                  </div>
                </div>
              </div>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#dir" href="#collapseSeven">
                      扭力限制器
                    </a>
                  </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse">
                  <div class="list-group">
                    <a class="list-group-item" href="#">SS型摩擦式扭力限制器</a>
                    <a class="list-group-item" href="#">AQD皮带轮型钢球式安全联轴器</a>
                    <a class="list-group-item" href="#">AQZ带制动轮钢球式安全联轴器</a>
                    <a class="list-group-item" href="#">AQ型钢球式安全联轴器</a>
                  </div>
                </div>
              </div>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#dir" href="#collapseSix">
                      逆止器
                    </a>
                  </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                  <div class="list-group">
                    <a class="list-group-item" href="#">CKNZ型楔块式逆止器</a>
                    <a class="list-group-item" href="#">DNZ型斗式提升机专用逆止器</a>
                    <a class="list-group-item" href="#">GN型滚柱式逆止器</a>
                    <a class="list-group-item" href="#">NDZ型接触式逆止器</a>
                    <a class="list-group-item" href="#">NDZ型接触式逆止器</a>
                    <a class="list-group-item" href="#">NF 型非接触式逆止器</a>
                  </div>
                </div>
              </div>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#dir" href="#collapseFive">
                      胀紧连接套
                    </a>
                  </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                  <div class="list-group">
                    <a class="list-group-item" href="#">Z7A型胀紧连接套</a>
                    <a class="list-group-item" href="#">Z7B型胀紧链接套</a>
                    <a class="list-group-item" href="#">Z7C型胀紧连接套</a>
                    <a class="list-group-item" href="#">Z8型胀紧连接套</a>
                    <a class="list-group-item" href="#">Z9型胀紧连接套</a>
                    <a class="list-group-item" href="#">Z10型胀紧连接套</a>
                  </div>
                </div>
              </div>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#dir" href="#collapseTwo">
                      超越离合器
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="list-group">
                    <a class="list-group-item" href="#">滚柱式超越离合器</a>
                    <a class="list-group-item" href="#">楔块式超越离合器</a>
                    <a class="list-group-item" href="#">非接触式超越离合器</a>
                  </div>
                </div>
              </div>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#dir" href="#collapseFour">
                      工程传动轴
                    </a>
                  </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                  <div class="list-group">
                    <a class="list-group-item" href="#">工程机械传动轴</a>
                  </div>
                </div>
              </div>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#dir" href="#collapseThree">
                      汽车传动轴
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="list-group">
                    <a class="list-group-item" href="#">金杯海狮</a>
                    <a class="list-group-item" href="#">中兴汽车</a>
                    <a class="list-group-item" href="#">天马、新凯</a>
                    <a class="list-group-item" href="#">塞弗汽车</a>
                    <a class="list-group-item" href="#">瑞丰汽车</a>
                    <a class="list-group-item" href="#">江陵汽车</a>
                    <a class="list-group-item" href="#">哈弗汽车</a>
                    <a class="list-group-item" href="#">富迪汽车</a>
                    <a class="list-group-item" href="#">福田奥铃</a>
                    <a class="list-group-item" href="#">迪尔汽车</a>
                    <a class="list-group-item" href="#">江淮汽车</a>
                    <a class="list-group-item" href="#">东风汽车</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="page-header" >
              <h4>联系方式</h4>
            </div>
            <p>公司前台：027-84663613</p>
            <p>公司传真：027-84623712</p>
            <p>公司邮箱：hbml@hbml.cn</p>
            <p>销售电话：</p>
            <p>84864936　84633950</p>
            <p>84468311　84451595</p>
            <p>84863253　84633906</p>
            <p>公司地址：武汉市汉口北华中企业城</p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="page-header">
          <h4>商品橱窗</h4>
        </div>
        <ol class="breadcrumb">
          <li><a href="#">首页</a></li>
          <li><a href="#">了解明传</a></li>
          <li><a href="#">公司介绍</a></li>
        </ol>
        <div class="row">
          <div class="col-md-3">
            <a href="#" class="thumbnail">
              <img src="../imgsrc/products/a/SWC-BH.png">
            </a>
            <div class="caption">
              <p>SWC-BH型万向联轴器</p>
            </div>
          </div>
          <div class="col-md-3">
            <a href="#" class="thumbnail">
              <img src="../imgsrc/products/a/SWC-CH.png">
            </a>
            <div class="caption">
              <p>SWC-CH型万向联轴器</p>
            </div>
          </div>
          <div class="col-md-3">
            <a href="#" class="thumbnail">
              <img src="../imgsrc/products/a/SWC-DH.png">
            </a>
            <div class="caption">
              <p>SWC-DH型万向联轴器</p>
            </div>
          </div>
          <div class="col-md-3">
            <a href="#" class="thumbnail">
              <img src="../imgsrc/products/a/SWP C.png">
            </a>
            <div class="caption">
              <p>SWC-C型万向联轴器</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <a href="#" class="thumbnail">
              <img src="../imgsrc/products/a/SWC-BF.png">
            </a>
            <div class="caption">
              <p>SWC-BF型万向联轴器</p>
            </div>
          </div>
          <div class="col-md-3">
            <a href="#" class="thumbnail">
              <img src="../imgsrc/products/a/SWC-WD.png">
            </a>
            <div class="caption">
              <p>SWC-WD型万向联轴器</p>
            </div>
          </div>
          <div class="col-md-3">
            <a href="#" class="thumbnail">
              <img src="../imgsrc/products/a/SWC-WF.png">
            </a>
            <div class="caption">
              <p>SWC-WF型万向联轴器</p>
            </div>
          </div>
          <div class="col-md-3">
            <a href="#" class="thumbnail">
              <img src="../imgsrc/products/a/SWC-WH.png">
            </a>
            <div class="caption">
              <p>SWC-WH型万向联轴器</p>
            </div>
          </div>
        </div>
        <ul class="pagination pagination-sm pull-right">
          <li><a href="#">&laquo;</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="">......</a></li>
          <li><a href="#">8</a></li>
          <li><a href="#">9</a></li>
          <li><a href="#">10</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-content">
      <div class="footer-address">
        <p>工厂地址：武汉市汉口北华中企业城</p>
        <p>电话：027-84663613 传真：027-84623712 技术支持：<a href="mailto:kelven.chi@163.com?subject=FromHBML">祥子@湖北</a></p>
        <p>© 2014 湖北明磊传动轴有限公司 鄂ICP备09025197号-2</p>
      </div>
    </div>
  </div>

  <!-- Includes Script -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
